<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head(#{title.error})}"></head>
<body>
<nav th:replace="~{fragments :: navbar}"></nav>

<div class="container">
    <div class="card alert-danger" style="text-align: center; padding: 3rem;">
        <h1 style="color: #842029;" th:text="#{error.oops}"></h1>
        <p th:text="${foutmelding}" style="font-size: 1.2rem; margin-bottom: 2rem;"></p>
        <a th:href="@{/home}" class="btn">[[#{nav.back.home}]]</a>
    </div>
</div>
</body>
</html>