<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title} + ' | ' + #{app.title}"></title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>
<nav th:fragment="navbar" class="navbar">
    <a th:href="@{/home}">[[#{nav.home}]]</a>
    <a th:href="@{/top10}">[[#{nav.top10}]]</a>
    <a th:href="@{/team}" sec:authorize="isAuthenticated()">[[#{nav.myteam}]]</a>
    <a th:href="@{/admin/wedstrijden}" sec:authorize="hasRole('ADMIN')">[[#{nav.admin.matches}]]</a>

    <div class="nav-spacer"></div>

    <div class="nav-user" sec:authorize="isAuthenticated()">
        <span>[[#{label.gebruikersnaam}]]</span>: <strong sec:authentication="name"></strong>
    </div>

    <a th:href="@{/login}" sec:authorize="isAnonymous()">[[#{nav.login}]]</a>
    <a th:href="@{/registreer}" sec:authorize="isAnonymous()">[[#{nav.register}]]</a>
    <form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
        <button type="submit">[[#{nav.logout}]]</button>
    </form>
</nav>
</body>
</html>